@import "../../node_modules/normalize.css/normalize.css";
@import '../fonts/fonts.css';
@import "./colors.css";

* {
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
