@import "../../node_modules/normalize.css/normalize.css";
@import '../fonts/fonts.css';
@import "./colors.css";

* {
    color: var(--black);
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 24px;
}
